body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}


h1{
    font-family: 'Squada One', sans-serif;    
   text-align: center;
    color: white;
    padding-top: 330px;
    font-size: 80px;  
   text-shadow: 2px 3px black;
}

h3{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: 25px;
    color: #fac51c ;
}

.log-in{
    font-size: 20px;
    color: #1058b7 ;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    float: right;
    margin-bottom: 5px;
}

.log-in:hover{
    opacity: 0.5;
}

#start-btn:focus{
  outline: none; 
}

.begin-container{
    text-align: center;
    height: 60px;

}

.form-container{
	text-align: center;
}
.second-section{
	display: none;
}
.first-section{
	transition: all;
}

.nav-bar, .option-panel-container, .charts-container, .news-container {
  border:  1px solid black;
  
}

.nav-bar {
  width:  100%;
  height: 50px;
}

.option-panel-container, .charts-container, .news-container {
  height: 100%;
  /* width:  50%; */
}


.pic, .info {
  width: 90%;
  height: 20%;
  border: 1px solid green;
}