body {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF ;
}

#player-image {
  width: auto;
  /*height:  100%;*/
  margin-left: -15px;
  background: url('http://198.1.111.123/~theinscr/wp-content/uploads/2016/12/nba-logo-on-wood.jpg');
  background-size: contain;
}

#back-arrow{
  position: fixed;
  left: 10px;
  top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid white;
}

h1{
  font-family: 'Squada One', sans-serif;    
  text-align: center;
  color: white;
  padding-top: 330px;
  font-size: 8rem;  
  text-shadow: 2px 3px black;
}

#game{
   animation: connect 2s 1;
    position: relative;
    animation-timing-function: ease-in-out;
    animation-delay: 200ms;
}

@keyframes connect {
  0%   {left: -900px;}
  30%  {left: 0;}
  60% {left: 0;}
  80% {left: 0px;}
  100% {left: 0;}
}

#on{
  animation: on 2s 1;
    position: relative;
    animation-timing-function: ease-in-out;
    animation-delay: 200ms;
}

@keyframes on {
  0%   {right: -700px;}
  30%  {right: -700px;}
  60%  {right: 0;}
  80%  {right: 0px;}
  100% {right: 0px;}
}

h3{
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    color: #fac51c ;
}

.game-on-fade{
   animation: fadein 6s;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

#experience{
    font-family: Verdana, sans-serif;
    text-align: center;
    text-shadow: 1px 1px black;
    font-size: 25px;
    font-weight: 600;
    color: #fac51c ;
}

p, h5 {
  font-size: 1.5rem;
}

.message {
  color: #AF1B3F;
}

.log-in{
    font-size: 20px;
    color: #fac51c ;    
    border: none;
    border-radius: 50%;
    background-color: transparent;
    float: right;
    margin-bottom: 5px;
    text-shadow: .5px .5px black;
}

.main-content-container {
  width: 100vw;
  padding: 5px;
}

.sign-up-form-container, .login-form-container {
  margin-top: 320px;
  padding: 0;
}

.signupform, .login-form {
  float: right;
}

.index-input {
  background-color: #dcdcdc;
  color: #666666;
  border: none;
  font-size: 18px;
}

.index-label  {
  color: #dcdcdc;
  text-shadow: 1px 2px black;
  font-size: 18px;
}

.settings-button {
  border: none;
    border-radius: 50%;
    background-color: transparent;
    float: right;
    margin-top: 10px;
    color: #dcdcdc;
}

.settings-button:hover {
  color: white;
  background-color: transparent;
}

.settings-button:focus {
  color: #dcdcdc;
  background-color: transparent;
  outline: none;
}


.log-in:hover{
    opacity: 0.5;
}

#start-btn{
  background-color: rgba(35, 35, 35, .6);
  font-size: 23px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 2px black;
  border: 1px solid black;
}
#start-btn:focus{
  outline: none;   
}

.begin-container{
    text-align: center;
    height: 60px;

}

.form-container{
    text-align: center;
  margin-top: 100px;
}

/*.form-group {
  margin: 15px;
}*/

label {
  margin-right: 15px;
}

.second-section{
    display: none;
}
.first-section{
    transition: all;
}

.nav-bar, .option-panel-container, .charts-container, .news-container {
  border:  1px solid black;
}

.option-panel-container {
  padding: 1rem;
}

.nav-bar {
  width:  100%;
  height: 50px;
  background-color: #333335 ;
  background: linear-gradient(black, #333335);
}


.option-panel {
  width: 100%;
  /*margin: 5px;*/
  height:100%;
  padding: 0;
}

.option-panel-container, .charts-container, .news-container {
  height: 100%;
  /* width:  50%; */
  background-color: #333335 ;
  background: linear-gradient(#333335, black);
}

.option-panel-container h3,h5, .news-container h3{
  color: #77fc2a ;
}

.option-panel h3, .news-container h3{
  font-family: 'Permanent Marker', cursive;
}


/*.pic, .info {
  width: 90%;
  height: 30%;
}*/
/*.pic-container {
  margin: 5px;
}*/
.pic {
  margin-top: 10px;
  /*border: 1px solid white;*/
  background-color: #333335;
  max-width: 100%;
  overflow: hidden;
}

input {
  background-color: #777777;
  color: #dcdcdc;
  border: none;
  font-size: 18px;
}


select {
  background-color: #666666;
  color: #dcdcdc;
  border: none;
  margin-right: 10px;
  font-size: 18px;
}

.compare-btn {
  background-color: #666666;
  color: #dcdcdc;
  border: none;
  font-size: 18px;
}

#comparison-message{
  font-family: 'Acme', sans-serif;
  font-size: 2rem; 
}

#compare-submit {
  margin-left: 5px;
  margin-top: 10px;
}
.info{
  border: none;
  color: white;
  color: #77fc2a ;
}

.info #add-player{
  color: black;
}
.news-container {
  overflow: scroll;
}

#compare-search-input{
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
#search-input {
  width:90%;
}

#submit{
  margin-left: 8px;
}

#charts{
  margin-top: 15px;
  height:500px;
}


#stats-table {
  color: #D75F57 ;
}

.table{
  color: #D75F57 ;

}

tr{
  text-align: center;
}

.modal-content {
  background-color: rgba(50, 50, 50, .9);
  color: #dcdcdc;
}

.modal-header {
  color: #dcdcdc;
}

.modal-table {
  color: #dcdcdc;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(40, 40, 40, 1);
  border-bottom: none;
  border-top: none;
}

.edit-btn, .remove-btn {
  background-color: #666666;
  color: #dcdcdc;
  border: none;
  border-radius: 0;
}



.save-btn {
  background-color: green;
  color: #dcdcdc;
  border: none;
  border-radius: 0;
  font-size: 18px;
  margin-left: 15px;
}

.save-btn:hover {
  background-color: #77FC2A;
  color: #666666;
}

.cancel-btn {
  background-color: #dcdcdc;
  color: #666666;
  border: none;
  border-radius: 0;
  font-size: 18px;
  margin-right: 15px;
}

#nav-header{
  font-family: 'Squada One', sans-serif;    
  color: white;
  font-size: 33px;  
  text-shadow: 2px 3px black;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

#logout-link{
  font-family: 'Squada One', sans-serif;    
  color: white;
  font-size: 33px;  
  text-shadow: 2px 3px black;
  float: left;
  margin-top: 5px;
  margin-left: 10px; 
}

#logout-link:hover{
  text-decoration: none;
}


.about-button{
    font-family: Verdana, sans-serif; 
    font-size: 16px;
    background: transparent;
    text-shadow: 1px 1px black;
    /* background-color: rgba(35, 35, 35, .5); */
    color: white ;
    margin-top: 20px;
    border: solid 1px black;
}

ul {
  list-style-type: none;
  padding: 0;
  font-family: 'Acme', sans-serif; 
}

#list-name, #list-team, #list-position{
  font-size: 2rem;   
}

#button-tag{
    font-family: 'Squada One', sans-serif;    
  text-align: center;
    color: white;
    font-size: 25px;  
  text-shadow: 2px 2px black;
}

#first-player{
    color: #2B908F;
}

#second-player{
    color: #90EE7E;
}

#table-lables{
    color: #E0E0E3;
}

#table-title{
    color: #E0E0E3;
}

@media (max-width: 768px){
  .option-panel-container{
    height: 95%;
  }
}
@media (min-width: 768px){
  .search-bar {
  margin: 0.8rem;
  }
  .pic-container {
    margin-left:0.3rem;
  }
  .info {
    margin-left: 1rem;
  }
  .info ul{
    padding: 0;
  }
  .fav-form-container{
    margin-left: 1rem;
  }

  .compare-btn {
    font-size: 2rem;
  }
}




