body {
  font: 14px Verdana, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

a {
  color: #00B7FF ;
}

img {
  width: auto;
  height:  100%;
  margin-left: -15px;
}
h1{
    font-family: 'Squada One', sans-serif;    
  text-align: center;
    color: white;
    padding-top: 330px;
    font-size: 80px;  
  text-shadow: 2px 3px black;
}

h3{
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #fac51c ;
}

p, h5 {
  font-size: 18px;
}

.log-in{
    font-size: 20px;
    color: #1058b7 ;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    float: right;
    margin-bottom: 5px;
}

.settings-button {
  border: none;
    border-radius: 50%;
    background-color: transparent;
    float: right;
    margin-top: 10px;
    color: #dcdcdc;
}

.settings-button:hover {
  color: white;
  background-color: transparent;
}

.settings-button:focus {
  color: #dcdcdc;
  background-color: transparent;
  outline: none;
}


.log-in:hover{
    opacity: 0.5;
}

#start-btn:focus{
  outline: none; 
}

.begin-container{
    text-align: center;
    height: 60px;

}

.form-container{
    text-align: center;
  margin-top: 100px;
}

.form-group {
  margin: 15px;
}

label {
  margin-right: 15px;
}

.second-section{
    display: none;
}
.first-section{
    transition: all;
}

.nav-bar, .option-panel-container, .charts-container, .news-container {
  border:  1px solid black;
}

.option-panel-container {
  padding: 0;
}

.nav-bar {
  width:  100%;
  height: 50px;
  background-color: #333335 ;
}


.option-panel {
  width: 100%;
  margin: 5px;
  padding: 0;
}

.option-panel-container, .charts-container, .news-container {
  height: 100%;
  /* width:  50%; */
  background-color: #333335 ;

}

.option-panel-container h3,h5, .news-container h3{
  color: #77fc2a ;
}


.pic, .info {
  width: 90%;
  height: 30%;
}

.pic {
  margin-top: 10px;
  border: 1px solid white;
  background-color: #bbbcbf;
  width: auto;
  height: 210px;
  overflow: hidden;

}

input {
  background-color: #666666;
  color: #dcdcdc;
  border: none;
  font-size: 18px;
}


select {
  background-color: #666666;
  color: #dcdcdc;
  border: none;
  margin-right: 10px;
  font-size: 18px;
}

.compare-btn {
  background-color: #666666;
  color: #dcdcdc;
  border: none;
  font-size: 18px;
}

.compare-submit {
  margin-left: 15px;
}
.info{
  border: none;
  color: white;
  color: #77fc2a ;
}

.info #add-player{
  color: black;
}
.news-container {
  overflow: scroll;
}

#compare-search-input{
    display: none;
}

#submit{
  margin-left: 8px;
}

#charts{
  margin-top: 15px;
}


#stats-table {
  color: #D75F57 ;
}

.table{
  color: #D75F57 ;

}

.modal-content {
  background-color: rgba(50, 50, 50, .9);
  color: #dcdcdc;
}

.modal-header {
  color: #dcdcdc;
}

.modal-table {
  color: #dcdcdc;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(40, 40, 40, 1);
  border-bottom: none;
  border-top: none;
}

.edit-btn, .remove-btn {
  background-color: #666666;
  color: #dcdcdc;
  border: none;
  border-radius: 0;
}



.save-btn {
  background-color: green;
  color: #dcdcdc;
  border: none;
  border-radius: 0;
  font-size: 18px;
}

.save-btn:hover {
  background-color: #77FC2A;
  color: #666666;
}

.cancel-btn {
  background-color: #dcdcdc;
  color: #666666;
  border: none;
  border-radius: 0;
  font-size: 18px;
  margin-right: 15px;
}